<div class="container">
    <header>
        <div class="form-title">Détails</div>
    </header>
    <main data-simplebar>
        <form *ngIf="form" [formGroup]="form">
            <div class="control">
                <label>
                    Nom *
                </label>
                <input #first formControlName="name" type="text" />
                <app-validation-error
                    [control]="form.controls['name']"
                    [customErrorLabels]="{ duplicateEntry: 'Ce nom existe déjà' }"
                ></app-validation-error>
            </div>
            <div class="control">
                <label>
                    Prix Unitaire *
                </label>
                <input formControlName="costPrice" type="number" min="0" appDigitOnly />
                <app-validation-error [control]="form.controls['costPrice']"></app-validation-error>
            </div>
            <div class="control">
                <label>
                    Prix de vente *
                </label>
                <input formControlName="sellingPrice" type="number" min="0" appDigitOnly />
                <app-validation-error [control]="form.controls['sellingPrice']"></app-validation-error>
            </div>
            <div class="control">
                <label>
                    Quantité *
                </label>
                <input formControlName="quantity" type="number" min="0" appDigitOnly />
                <app-validation-error [control]="form.controls['quantity']"></app-validation-error>
            </div>
            <div class="control">
                <label for="supplier">Type *</label>
                <div class="custom-select">
                    <ng-select
                        [items]="types"
                        formControlName="type"
                        bindLabel="name"
                        bindValue="value"
                    ></ng-select>
                </div>
                <app-validation-error [control]="form.controls['type']"></app-validation-error>
            </div>
            <div class="control">
                <label for="supplier">Fournisseur *</label>
                <div class="custom-select">
                    <ng-select
                        [items]="suppliers"
                        bindLabel="name"
                        formControlName="supplier"
                    ></ng-select>
                </div>
                <app-validation-error [control]="form.controls['supplier']"></app-validation-error>
            </div>
        </form>
    </main>
    <footer>
        <div class="buttons">
            <button
                class="blue"
                *ngIf="!form.enabled"
                (click)="edit.emit(form.value)"
                [disabled]="!editEnabled"
            >
                MODIFIER
            </button>
            <button class="blue" *ngIf="form.enabled" (click)="onSubmit(form)">ENREGISTRER</button>
            <button class="dark-purple" *ngIf="form.enabled" (click)="cancel.emit()">
                ANNULER
            </button>
        </div>
    </footer>
</div>
