contact-list works! <br>

<h4> Generic style for table: </h4>

<div class="table-container">
    <table *ngIf="contacts">
        <thead>
            <tr>
                <th>N°</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody data-simplebar>
            <tr *ngFor="let contact of contacts; let i=index" (click)="select.emit(contact)">
                <td>{{ i + 1 }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.address }}</td>
                <td>{{ contact.email }}</td>
            </tr>
        </tbody>
    </table>
</div>
