@import 'tables.scss';
@import 'buttons.scss';

$c1Width: 80%;
$c2Width: 20%;

$tableWidth: $c1Width + $c2Width;

@mixin thTdWidth($width) {
    width: $width;
    max-width: 0;
}

.table-container {
    height: 100%;
    width: 100%;

    table {
        @extend %table;
        width: $tableWidth;

        tbody td:nth-child(1),
        thead th:nth-child(1) {
            @include thTdWidth($c1Width);
        }

        tbody td:nth-child(2),
        thead th:nth-child(2) {
            @include thTdWidth($c2Width);
        }
    }

    tr {
        & .selected {
            color: red;
        }
    }
}

.actions {
    cursor: pointer;
}
