<div class="container">
    <form [formGroup]="form">
        <div class="custom-control">
            <label>Type de vente</label>
            <div class="radio-container">
                <div class="radio-control">
                    <label>
                        <input type="radio" name="saleType" formControlName="saleType" [value]="'DIRECT_SALE'"/>
                        Direct
                    </label>
                </div>
                <div class="radio-control">
                    <label>
                        <input type="radio" name="saleType" formControlName="saleType" [value]="'CONSIGNATION'"/>
                        Consignation
                    </label>
                </div>
            </div>
        </div>
        <div class="control">
            <label for="client">Client</label>
            <div class="custom-select">
                <ng-select
                    #clientSelect
                    [items]="clientAutocompletionService.items$ | async"
                    [virtualScroll]="true"
                    [loading]="clientAutocompletionService.loading$ | async"
                    [dropdownPosition]="bottom"
                    [notFoundText]="notItemsFound"
                    [loadingText]="loadingText"
                    (search)="clientAutocompletionService.load({ search: $event.term })"
                    (open)="clientAutocompletionService.load({ search: '' })"
                    (scrollToEnd)="clientAutocompletionService.loadMore()"
                    formControlName="client"
                    bindLabel="name"
                    placeholder="Client"
                >
                    <ng-template ng-footer-tmp>
                        <a
                            href="/root/home/client/new"
                            target="_blank"
                            (click)="clientSelect.close()"
                            >Ajout client</a
                        >
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="control">
            <label>
                Remise (en %)
            </label>
            <input type="number" min="0" formControlName="discount" appDigitOnly />
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>PV (Ar)</th>
                    <th>Qté commandée</th>
                    <th>Sous-total (Ar)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-simplebar formArrayName="saleItems">
                <tr *ngFor="let item of getFormArray('saleItems').controls; let i = index" [formGroupName]="i">
                    <td>{{ item.get('product')?.value?.name | titlecase }}</td>
                    <td>{{ item.get('product')?.value?.sellingPrice | number: '1.0-0' }}</td>
                    <td>
                        <input type="number" min="0" formControlName="quantity" appDigitOnly />
                    </td>
                    <td>{{ item.get('amount')?.value | number: '1.0-0' }}</td>
                    <td>
                        <img (click)="remove.emit(i)" [src]="'/assets/images/ico-delete.png'" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="bill-container">
            TOTAL: {{ billTotal | number: '1.0-0' }} Ar
        </div>
        <div class="buttons-container">
            <button class="blue" [disabled]="!billTotal" (click)="onSubmit()">VALIDER</button>
        </div>
    </form>
</div>
