<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix unitaire (Ar)</th>
                <th>Prix de vente (Ar)</th>
                <th>Quantité</th>
                <th>Sous-total (Ar)</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-simplebar>
            <tr *ngFor="let saleItem of saleItems">
                <td>{{ saleItem.product.name | titlecase }}</td>
                <td>{{ saleItem.product.costPrice | number: '1.0-0' }}</td>
                <td>{{ saleItem.product.sellingPrice | number: '1.0-0' }}</td>
                <td>{{ saleItem.quantity }}</td>
                <td>{{ saleItem.product.sellingPrice * saleItem.quantity | number: '1.0-0' }}</td>
                <td>
                    <img (click)="delete.emit(saleItem)" [src]="'/assets/images/ico-delete.png'" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="total">TOTAL: {{ billTotal | number: '1.0-0' }} Ar</td>
            </tr>
        </tfoot>
    </table>
    <div class="buttons-container">
        <button class="blue" [disabled]="!validSaleItemsLength">VALIDER</button>
        <button class="dark-purple" [disabled]="!validSaleItemsLength" (click)="cancel.emit()">
            ANNULER
        </button>
    </div>
</div>
