<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>PU (Ar)</th>
                <th>PV (Ar)</th>
                <th>Ecart (Ar)</th>
                <th>Quantité</th>
                <th>Fournisseur</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-simplebar>
            <tr
                *ngFor="let product of products"
                [class.selected]="product._id === currentProduct?._id"
            >
                <td>{{ product.name | titlecase }}</td>
                <td>{{ product.costPrice | number: '1.0-0' }}</td>
                <td>{{ product.sellingPrice | number: '1.0-0' }}</td>
                <td>{{ product.sellingPrice - product.costPrice | number: '1.0-0' }}</td>
                <td [class.empty]="!product.quantity" [class.alert]="product.quantity && product.quantity <= 10" >{{ product.quantity || 'epuisé' }}</td>
                <td>{{ typeLabels[product.type] }}</td>
                <td>{{ product.supplier.name | uppercase }}</td>
                <td class="actions">
                    <img
                        (click)="view.emit(product); currentProduct = product"
                        src="/assets/images/ico-details.png"
                    />
                    <img
                        (click)="editEnabled && edit.emit(product); currentProduct = product"
                        [src]="
                            editEnabled
                                ? '/assets/images/ico-edit.png'
                                : '/assets/images/ico-edit-disabled.png'
                        "
                    />
                    <img
                        (click)="deleteEnabled && delete.emit(product)"
                        [src]="
                            deleteEnabled
                                ? '/assets/images/ico-delete.png'
                                : '/assets/images/ico-delete-disabled.png'
                        "
                    />
                </td>
            </tr>
        </tbody>
    </table>
</div>
