// ROOT:
$feature-root-background: #e8e8e8;
$feature-title-color: #3f025d;
$feature-list-detail-title-color: #b71a73;
$feature-title-color: #0367ef;
$list-detail-title-color: #0367ef;
// TABLE:
$table-td-text: #636363;
$table-row-even-background: #f4f4f4;
$table-border-even: #eaeaea;
$table-selected-row-mark-color: #b71a73;
// PAGINATION:
$pagination-current-page-background: #b71a73;
$pagination-border: #e4e4e4;
$pagination-button-hover-background: #eaeaea;
// SEARCH BAR:
$search-bar-border: #eaeaea;
$search-bar-placeholder-text: lightgray;
// FILTER:
$chips-background: #a0a0a0;
$chips-expanded-background: #b71a73;
$list-box-border: #b71a73;
$list-box-search-border: rgb(211, 211, 211);
$list-box-text: #333;
$list-box-search-placeholder-text: rgb(217, 217, 217);
$list-box-filter-label-text: #b71a73;
// CHECKBOX:
$checkbox-default-border: rgb(211, 211, 211);
$checkbox-checked-background: #b71a73;
// RADIO:
$radio-default-border: rgb(211, 211, 211);
$radio-checked-background: #b71a73;
// SELECT:
$select-border: #b71a73;
$select-arrow-brackground: #b71a73;
// INPUT NUMBER:
$input-number-border: rgb(228, 228, 228);
// FIXME:
$light-text-gray: rgb(228, 228, 228);
$light-bg-gray: rgb(56, 56, 56);
$light-gray: rgb(211, 211, 211);
//HEADER
$header-separator-color: #d6d6d6;
$header-input-text: #c9c9c9;
$header-title-color: #b71a73;
$header-menu-active-color: #b71a73;
$header-menu-active-arrow-background: #b71a73;
$header-search-border-color: #3f025d;
//COLORS
$green: #00ee9a;
$green-hover: #00da86;
$purple: #b71a73;
$purple-hover: #b71a73;
$dark-purple: #3f025d;
$dark-purple-hover: #3f025d;
$blue: #0367ef;
$blue-hover: #0053db;
$red: #fe3678;
$red-hover: #ea2264;
$disabled: #d6d6d6;
$dark-grey: #777777;
$dark-grey-hover: #777777;
//SIDE-NAV
$sidenav-background: #3f025d;
$sidenav-menu-border-color: #4d0574;
$sidenav-menu-active-background: #5f2d78;
$sidenav-menu-active-color: #fff;
$sidenav-sub-menu-active-background: #213d58;
$sidenav-sub-menu-text-color: #fff;
$sidenav-menu-text-color: #fff;
$sidenav-selected-green: #2182e3;
//LOADER
$loader-background: #b71a73;
//AUTHENTICATION
$authentication-title-color: #b71a73;
//FORM
$generic-form-title-color: #0357ef;
$generic-form-placeholder-color: #999999;
$generic-form-placeholder-border: #b4b4b4;
$generic-form-border-focus: #b71a73;
$generic-form-border: #b4b4b4;
$generic-form-border-disabled: #b4b4b4;
$generic-form-error-background: #ffe9f2;
$generic-form-error-border: #fe74a2;
//NG SELECT
$ngselect-border-color: #b71a73;
$ngselect-arrow-color: #b71a73;
