// Never modify the below generic styles !!! :

// FILTERED MASTER DETAIL:

@import 'texts.scss';
@import "headers-and-titles.scss";
@import "buttons.scss";

%list-detail-header {
    display: flex;
    align-items: center;
}

%filtered-master-detail {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1% 20% 1% 51% 1% 24% 1% 1%;
    grid-template-rows: 2% 7% 7% 7% minmax(0, 1fr) 7% 2%;
    grid-template-areas:
        '.  .          .       .           .       .               .        .'
        '.  header     header  header      header  header          header   .'
        '.  filter     .       list-header .       detail-header   .        .'
        '.  filter     .       search-bar  .       detail          .        .'
        '.  filter     .       list        .       detail          .        .'
        '.  filter     .       footer      .       detail          .        .'
        '.  .          .       .           .       .               .        .';
    transition: all 0.2s;   // Animation works only with firefox
    &.detail-hidden {
        grid-template-columns: 1% 20% 1% 76% 0% 0% 1% 1%;
    }

    header {
        grid-area: header;
        @extend %feature-title;
    }

    .filter {
        grid-area: filter;
    }

    .bordered-wrapper {
        grid-column: 3 / 8;
        grid-row: 3 / 7;
        border: solid 1px $light-gray;
        border-radius: 8px;
    }

    .search-bar {
        grid-area: search-bar;
    }

    .list-header {
        grid-area: list-header;
        @extend %list-detail-title;
        @extend %list-detail-header;
    }

    .list {
        grid-area: list;
    }

    footer {
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        button {
            @extend %button;
        }
        .btn-new {
            @extend %add-button;
        }
    }

    .detail-header {
        grid-area: detail-header;
        @extend %list-detail-title;
        @extend %list-detail-header;
    }

    .detail {
        grid-area: detail;
        margin-bottom: 25px;
        border: solid 1px $light-gray;
        border-radius: 3px;
        &.no-border {
            border: 0px !important;
        }
    }
}