@import 'fonts.scss';
@import 'colors.scss';

// Fonts:
$thFontFamily: $worksans-regular;
$tdFontFamily: $worksans-medium;
$header-height: 37px;
$tr-height: 40px;

%table {
    font-size: 12px;
    border-spacing: 0px;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    position: relative;
    border-bottom: none;

    thead {
        display: block;
    }

    thead th {
        font-family: $thFontFamily;
        color: #000000;
        height: $header-height;
    }

    tbody {
        display: block;
        width: 100%;
        height: calc(100% - 37px);
        position: absolute;
        border-top: 1px solid rgb(166, 166, 166);
        border-bottom: none;

        tr:nth-child(even) {
            background: $table-row-even-background;
        }

        td {
            font-family: $tdFontFamily;
            color: $table-td-text;
            font-size: 12px;
            img {
                cursor: pointer;
                margin-right: 5%;
            }
        }
        .actions {
            overflow: unset;
        }
    }

    thead th,
    tbody td {
        font-size: 12px;
    }

    tr {
        display: table;
        width: 100%;
        height: $tr-height;
    }

    td {
        height: 100%;
        vertical-align: middle;
    }

    td,
    th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        padding: 0 0 0 15px;
    }

    .selected td:first-child {
        border-left: solid $table-selected-row-mark-color 4px;
        padding-left: 11px;
    }
}
