<app-loader [isLoading]="pdfExporting$ | async" [message]="'Exportation facture'">
    <div class="container">
        <header>Gestion des ventes</header>
        <div class="selectable-product-container">
            <main>
                <app-search-bar (search)="onSearch($event)"></app-search-bar>
                <app-loader [isLoading]="productsLoading$ | async">
                    <app-selectable-product-list
                        [products]="products$ | async"
                        (add)="onAddProduct($event)"
                        (sort)="onSort($event)"
                    ></app-selectable-product-list>
                </app-loader>
            </main>
            <footer>
                <app-pagination
                    [totalItems]="totalItems$ | async"
                    (paginate)="onPaginate($event)"
                ></app-pagination>
            </footer>
        </div>
        <div class="selected-product-container">
            <app-selected-product-list
                [newLoadedSaleItem]="newAddedSaleItem$ | async"
                [clients]="clients$ | async"
                (save)="onSave($event)"
            ></app-selected-product-list>
        </div>
    </div>
</app-loader>

<modal #saleSaveError class="popup-modal error" [closeOnOutsideClick]="false">
    <ng-template #modalHeader>
        Echec
    </ng-template>
    <ng-template #modalBody>
        <p>
            {{ (saleSaveError$ | async).error.message }}
        </p>
    </ng-template>
    <ng-template #modalFooter>
        <button (click)="saleSaveError.close()" class="blue">OK</button>
    </ng-template>
</modal>

<modal #saleSaved class="popup-modal success" [closeOnOutsideClick]="false">
    <ng-template #modalHeader>
        Succès
    </ng-template>
    <ng-template #modalBody>
        <p>
            Vente enregistrée
        </p>
    </ng-template>
    <ng-template #modalFooter>
        <button (click)="saleSaved.close()" class="blue">OK</button>
    </ng-template>
</modal>
