<div class="container" [class.detail-hidden]="!(isEditingOrDetail$ | async)">
    <header>Gestion des consignations</header>
    <div class="search-bar">
        <app-search-bar (search)="onSearch($event)" [placeholder]="'Rechercher par client, vendeur'"></app-search-bar>
    </div>
    <div class="list">
        <app-loader [isLoading]="consignationsLoading$ | async">
            <app-consignation-list [consignations]="consignations$ | async" [currentSaleItem]="currentSaleItem$ | async" (view)="onViewDetail($event)" (sort)="onSort($event)"></app-consignation-list>
        </app-loader>
    </div>
    <footer>
        <div></div>
        <app-pagination [totalItems]="totalItems$ | async" (paginate)="onPaginate($event)"></app-pagination>
    </footer>
    <div class="detail" [class.no-border]="!(isEditingOrDetail$ | async)">
        <router-outlet></router-outlet>
    </div>
</div>

<modal #consignationSaved class="popup-modal success" [closeOnOutsideClick]="false">
    <ng-template #modalHeader>
        Succès
    </ng-template>
    <ng-template #modalBody>
        <p>
            Consignation enregistrée
        </p>
    </ng-template>
    <ng-template #modalFooter>
        <button (click)="consignationSaved.close()" class="blue">OK</button>
    </ng-template>
</modal>
