<div class="container">
    <app-client-form
        *ngIf="client$ | async as client"
        [client]="client$ | async"
        [isEditing]="isEditing$ | async"
        [editEnabled]="clientEditEnabled$ | async"
        (edit)="onEdit($event)"
        (save)="onSave($event)"
        (cancel)="onCancelEdit(client)"
    ></app-client-form>
</div>

<modal #successfullSavingModal class="popup-modal success">
    <ng-template #modalHeader>
        Succès
    </ng-template>
    <ng-template #modalBody>
        Element enregistré avec success
    </ng-template>
    <ng-template #modalFooter>
        <button class="blue" (click)="successfullSavingModal.close()">
            OK
        </button>
    </ng-template>
</modal>
