<div class="container">
    <header>
        <div class="form-title">Détails</div>
    </header>
    <main data-simplebar>
        <form *ngIf="form" [formGroup]="form">
            <ng-container formArrayName="consignations">
                <div class="form-content" *ngFor="let item of getFormArray().controls; let i = index" [formGroupName]="i">
                    <div class="x-button-container">
                        <button *ngIf="i > 0" class="x-button" (click)="removeAt(i)">X</button>
                    </div>
                    <div>
                        <div class="date-container">
                            <label>Date</label>
                            <label>{{ item.get('date').value | date: 'dd/MM/y - HH:mm:ss' }}</label>
                        </div>
                        <div class="control">
                            <label>
                                Vendu *
                            </label>
                            <input #first formControlName="selled" type="number" min="0" appDigitOnly/>
                            <app-validation-error
                                [control]="item.selled"
                            ></app-validation-error>
                        </div>
                        <div class="control">
                            <label>
                                Rendu *
                            </label>
                            <input #first formControlName="returned" type="number" min="0" appDigitOnly/>
                            <app-validation-error
                                [control]="item.returned"
                            ></app-validation-error>
                        </div>
                    </div>
                </div>
            </ng-container>
        </form>
        <button *ngIf="saleItem.consignationStatus === 'UNPAID'" class="btn-new" (click)="add()">+</button>
    </main>
    <footer>
        <div class="buttons">
            <button *ngIf="saleItem.consignationStatus === 'UNPAID'" class="blue" (click)="onSubmit()">ENREGISTRER</button>
        </div>
    </footer>
</div>