@import 'forms.scss';
@import 'buttons.scss';
@import 'details.scss';
@import 'accordion.scss';
@import 'checkboxes.scss';

.container {
    @extend %detail-layout;
    form {
        @extend %generic-form;
        max-width: 100%;
    }
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
        line-height: 40px;
    }
}

.accordion {
    @extend %accordion;

    label {
        display: inline;
        font-size: 12px;
    }

    input[formControlName] + label {
        background: transparent;
        color: #4c4c4c;
    }

    ul {
        li:not(.has-children) {
            display: flex;
            align-items: center;
        }
    }
}

.blue {
    @extend %blue-button;
}

.dark-purple {
    @extend %dark-purple-button;
}
