<div class="container">
    <div class="form">
        <app-contact-form></app-contact-form>
    </div>
    <div class="list">
        <app-loader [isLoading]="contactsLoading$ | async">
            <app-contact-list [contacts]="contacts$ | async" (select)="onSelect($event)"></app-contact-list>
        </app-loader>
        <app-pagination [totalItems]="contactsTotalItems$ | async" (paginate)="onPaginate($event)"></app-pagination>
        <button (click)="showPopupModal()">SHOW POPUP MODAL</button>
    </div>
    <div class="detail">
        <app-loader [isLoading]="contactLoading$ | async">
            <app-contact-detail [contact]="contact$ | async"></app-contact-detail>
        </app-loader>
    </div>

    <modal #errorModal class="popup-modal error">
        <ng-template #modalHeader>
            Erreur de scan
        </ng-template>
        <ng-template #modalBody>
            Une erreur a survenu<br>
            Veuillez tout vérifier
        </ng-template>
        <ng-template #modalFooter>
            <button class="green" (click)="errorModal.close();">OK</button>
        </ng-template>
    </modal>

</div>