<div class="container">
    <app-supplier-form
        *ngIf="supplier$ | async as supplier"
        [supplier]="supplier$ | async"
        [isEditing]="isEditing$ | async"
        [editEnabled]="supplierEditEnabled$ | async"
        (edit)="onEdit($event)"
        (save)="onSave($event)"
        (cancel)="onCancelEdit(supplier)"
    ></app-supplier-form>
</div>

<modal #successfullSavingModal class="popup-modal success">
    <ng-template #modalHeader>
        Succès
    </ng-template>
    <ng-template #modalBody>
        Element enregistré avec success
    </ng-template>
    <ng-template #modalFooter>
        <button class="blue" (click)="successfullSavingModal.close()">
            OK
        </button>
    </ng-template>
</modal>
