<div class="container" [class.detail-hidden]="!(isEditingOrDetail$ | async)">
    <header>Gestion des rôles</header>
    <div class="search-bar">
        <app-search-bar (search)="onSearch($event)" [placeholder]="'Rechercher par nom'"></app-search-bar>
    </div>
    <div class="list">
        <app-loader [isLoading]="rolesLoading$ | async">
            <app-role-list
                [roles]="roles$ | async"
                [currentRole]="currentRole$ | async"
                [editEnabled]="roleEditEnabled$ | async"
                [deleteEnabled]="roleDeleteEnabled$ | async"
                (delete)="deleteRole($event)"
                (view)="onViewDetails($event)"
                (edit)="onEdit($event)"
                (sort)="onSort($event)"
            ></app-role-list>
        </app-loader>
    </div>
    <footer>
        <button class="btn-new" (click)="onCreate()" [disabled]="!(roleCreateEnabled$ | async)">
            +
        </button>
        <app-pagination
            [totalItems]="totalItems$ | async"
            (paginate)="onPaginate($event)"
        ></app-pagination>
    </footer>
    <div class="detail" [class.no-border]="!(isEditingOrDetail$ | async)">
        <router-outlet></router-outlet>
    </div>
</div>

<modal #saveSuccessModal class="popup-modal success">
    <ng-template #modalHeader>
        Succès
    </ng-template>
    <ng-template #modalBody>
        Role enregistré avec succès
    </ng-template>
    <ng-template #modalFooter>
        <button (click)="saveSuccessModal.close()" class="blue">OK</button>
    </ng-template>
</modal>

<modal #deleteWarningModal class="popup-modal warning">
    <ng-template #modalHeader>
        Attention
    </ng-template>
    <ng-template #modalBody>
        Êtes-vous sûr de vouloir supprimer ce role?
    </ng-template>
    <ng-template #modalFooter>
        <button (click)="onDeleteRole()" class="blue">OUI</button>
        <button (click)="deleteWarningModal.close()" class="dark-purple">NON</button>
    </ng-template>
</modal>
