<div class="container" [class.detail-hidden]="!(sale$ | async)">
    <header>Suivi des ventes</header>
    <div class="search-bar">
        <app-search-bar (search)="onSearch($event)" [placeholder]="'Rechercher par client, vendeur'"></app-search-bar>
    </div>

    <div class="filter" data-simplebar>
        <app-period-filter
            [periodFilter]="periodFilter"
            (filter)="onFilter($event)"
        ></app-period-filter>
        <app-list-box-filter
            [filterUpdates]="saleFilterUpdates$ | async"
            [filterCategoryLabels]="saleFilterCategoryLabels"
            [filterItemLabels]="saleFilterItemLabels"
            [defaultFilters]="saleDefaultFilters"
            (filter)="onFilter($event)"
        ></app-list-box-filter>
    </div>

    <div class="list-header">Ventes</div>

    <div class="list">
        <app-loader [isLoading]="salesLoading$ | async">
            <app-sale-list [sales]="sales$ | async" (view)="onViewDetails($event)" (sort)="onSort($event)"></app-sale-list>
        </app-loader>
    </div>

    <div class="detail" [class.no-border]="!(sale$ | async)">
        <app-sale-detail *ngIf="sale$ | async as sale" [sale]="sale"></app-sale-detail>
    </div>

    <footer>
        <div></div>
        <app-pagination [totalItems]="totalItems$ | async" (paginate)="onPaginate($event)"></app-pagination>
    </footer>
</div>
