<div class="container" data-simplebar>
    <nav *ngIf="menus">
        <div *ngFor="let menu of menus; let i = index">
            <div
                [class.menu-active]="activeMenuIndex === i"
                class="menu"
                (click)="activateMenu(i)"
                [routerLink]="menu.routerLink"
                #menuContainer
            >
                <img alt="" src="{{ menu.icon }}" /> {{ menu.title | uppercase }}
            </div>
            <nav
                [class.opened]="activeMenuIndex === i"
                [class.closed]="activeMenuIndex !== i"
                class="submenu-container"
            >
                <div
                    class="submenu"
                    [class.submenu-active]="activeSubMenuIndex === j"
                    (click)="activateSubMenu(j)"
                    *ngFor="let subMenu of menu.children; let j = index"
                    [routerLink]="subMenu.routerLink"
                >
                    {{ subMenu.title }}
                </div>
            </nav>
        </div>
    </nav>
</div>
