<div class="container" data-simplebar>
    <nav *ngIf="menus">
        <div *ngFor="let menu of menus; let i = index">
            <div
                (click)="!menuContainer.classList.contains('menu-active') && activateMenu(i); activateSubMenu(0)"
                [routerLink]="menu.routerLink"
                routerLinkActive="menu-active"
                class="menu"
                #menuContainer
            >
                <img alt="" src="{{ menu.icon }}" /> {{ menu.title | uppercase }}
            </div>
            <nav [class.closed]="activeMenuIndex !== i" [class.opened]="activeMenuIndex === i" class="submenu-container">
                <div
                    (click)="activateSubMenu(j)"
                    *ngFor="let subMenu of menu.children; let j = index"
                    [class.submenu-active]="activeSubMenuIndex === j"
                    [routerLink]="subMenu.routerLink"
                    class="submenu"
                >
                    {{ subMenu.title }}
                </div>
            </nav>
        </div>
    </nav>
    <footer>
        <div class="day-display">{{ today | date: 'EEEE d MMMM y' | titlecase }}</div>
        <div class="hour-display">{{ today | date: 'HH:mm' }}</div>
    </footer>
</div>
