contact-form works! <br>

<h4> Generic style for forms: </h4>

<form [formGroup]=form (submit)="showErrors()">
    <div class="control">
        <label>
            Firstname
        </label>
        <input formControlName="firstname" type="text"/>
        <app-validation-error [control]="form.controls['firstname']"></app-validation-error>
    </div>

    <div class="control">
        <label>
            Lastname
        </label>
        <input formControlName="lastname" type="text"/>
        <app-validation-error [control]="form.controls['lastname']"></app-validation-error>
    </div>

    <div class="control">
        <label>
            Email
        </label>
        <input formControlName="email" type="text"/>
        <app-validation-error [control]="form.controls['email']"></app-validation-error>
    </div>

    <div class="control">
        <label>
            Password
        </label>
        <input formControlName="password" type="text"/>
        <app-validation-error [control]="form.controls['password']"></app-validation-error>
    </div>

    <div class="control">
        <label>
            Password confirmation
        </label>
        <input formControlName="passwordConfirmation" type="text"/>
        <app-validation-error [control]="form.controls['passwordConfirmation']" [customErrorLabels]="customErrorLabels"></app-validation-error>
    </div>

    <button type="submit">SHOW ERRORS</button>
</form>
