@import 'tables.scss';

.container {
    width: 100%;
    height: 100%;
}

$c1Width: 20%;
$c2Width: 30%;
$c3Width: 30%;
$c4Width: 20%;
$tableWidth: $c1Width + $c2Width + $c3Width + $c4Width;

@mixin thTdWidth($width) {
    width: $width;
    max-width: 0;
}

.table-container {
    width: 100%;
    height: 100%;
    table {
        @extend %table;
        width: $tableWidth;
        tbody td:nth-child(1),
        thead th:nth-child(1) {
            @include thTdWidth($c1Width);
        }
        tbody td:nth-child(2),
        thead th:nth-child(2) {
            @include thTdWidth($c2Width);
        }
        tbody td:nth-child(3),
        thead th:nth-child(3) {
            @include thTdWidth($c3Width);
        }
        tbody td:nth-child(4),
        thead th:nth-child(4) {
            @include thTdWidth($c4Width);
        }
    }
}

.consignation {
    background: #fff !important;
    border: 1px solid red !important;
    margin: 1px 0;
}