<div class="table-container">
    <table>
        <thead>
            <tr>
                <th app-sortable-column="paymentDate" (sort)="onSort($event)" [sortDirections]="sortDirections" initialDirection="asc">Date</th>
                <th app-sortable-column="sale.client.name" (sort)="onSort($event)" [sortDirections]="sortDirections">Client</th>
                <th app-sortable-column="sale.seller.login" (sort)="onSort($event)" [sortDirections]="sortDirections">Vendeur</th>
                <th app-sortable-column="amount" (sort)="onSort($event)" [sortDirections]="sortDirections">Montant (Ar)</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-simplebar>
            <tr
                *ngFor="let consignation of consignations"
                [class.selected]="consignation._id === currentConsignation?._id"
            >
                <td>{{ consignation.paymentDate | date: 'dd/MM/y - HH:mm' }}</td>
                <td>{{ (consignation.sale.client?.name | uppercase) || '-' }}</td>
                <td>{{ (consignation.sale.seller.login | uppercase) || '-' }}</td>
                <td>{{ consignation.amount | number: '1.0-0' }}</td>
                <td class="actions">
                    <img
                        (click)="view.emit(consignation); currentConsignation = consignation"
                        src="/assets/images/ico-details.png"
                    />
                    <img
                        (click)="edit.emit(consignation); currentConsignation = consignation"
                        src="/assets/images/ico-edit.png"
                    />
                </td>
            </tr>
        </tbody>
    </table>
</div>
